.album-detail {
  &__grid {
    display: flex;
    gap: 30px;
  }
  &__title {
    text-align: center;
  }
  &__thumb {
    width: 65%;
    img {
      border-radius: 15px;
      overflow: hidden;
    }
  }
}
.custom-fields {
  display: flex;
  flex-direction: column;
  &__item {
    display: flex;
    gap: 15px;
  }
}